.conferenceVideoWrapper {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.199);
}

.userName {
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    padding: 2px 6px;
    border-radius: 4px;
    background: #26262C;
    backdrop-filter: blur(12.5px);
    max-width: 100%;
    text-overflow: ellipsis;
}

.disabledMicIcon {
    display: flex;
    position: absolute;
    z-index: 1;
    right: 0.5rem;
    bottom: 0.5rem;
    color: rgb(241, 86, 86);
}

.disabledCameraPoster {
    background: rgb(70, 128, 253);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    color: white;
}

.mirrored {
    transform: scale(-1, 1);
}