:root {
  --background: #0a0a10;
  --secondary-background: #1c1d22;
  --primary: #716FFF;
  --header-height: 30px;
  --landing-side-padding: 5%;

  *::-webkit-scrollbar {
      width: 8px;
      height: 12px;
      scrollbar-gutter: stable both-edges;
  }

  *::-webkit-scrollbar-track {
      background: var(--scroll-bar-bg-color);
  }

  *::-webkit-scrollbar-thumb {
      background-color: white;//var(--primary);//#181820;
      border-radius: 20px;
      border: 3px solid var(--scroll-bar-bg-color);
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #0a0a10;
}

input:-webkit-autofill {
  box-shadow: unset !important;
  caret-color: unset !important;
  -webkit-text-fill-color: unset !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.primary {
  a {
    color: var(--primary);
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}
