.roomLayout {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.roomContent {
    display: flex;
    width: 100%;
    height: 100%;
}

.controlsWrapper {
    position: unset !important;
    .controlButton {
        background-color: var(--background);
    }
}
