.roomWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.videoChatWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    background: var(--secondary-background);
    border-radius: 8px;
}