.footer {
    display: flex;
    padding: 1.3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);;
    gap: 2rem;
    justify-content: space-between;
}

.item {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    gap: 1rem;
    text-align: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.5);
}