.select {
    color: white;
    background: var(--background);
    border: none !important;
    &:hover {
        border: unset;
    }

    [role="list"] {
        border: solid grey 1px;

        [role="option"] {
            &:hover {
                background: #181820d9;
            }
        }
    }

    

    input {
        display: none;
    }

    &:focus-within {
        box-shadow: none;
    }
}